#livestream {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);	
}
#canvas {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);	
}
.rotund
{
		 height:80x;
		 width:60px;
		 border-radius: 5%;
		 border: 1px solid green;
}
.efectblur
{
	filter:blur(10px);
}
.efectalbnegru
{
	filter:grayscale(100%);
}
.efectsepia
{
	filter:sepia(100%);
}
.efectsaturare
{
	filter:saturate(9);
}
.efectcontrast
{
	filter:contrast(120%) brightness(130%)
}
.dropbtn {
    background-color: #99ccff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e64d00;
}